<head>
	<%= render 'shared/common_dash_head' %>
	<style>
		a:hover {
			text-decoration: none;
		}
		#container {
			padding-top: 10px;
		}
	</style>
</head>
<body>
	<%= render 'shared/common_dash_nav' %>
	<div id="container" class="col-sm-9 col-md-10">
		<h1><%= current_user.first_name %>'s Listings</h1>
		</br>
		<% if @my_listings.length != 0 %>
			<table class="table table-striped">
				<tr>
					<th style="border-left: 1px solid #ddd;">
						Name
					</th>
					<th>
						Description
					</th>
					<th>
						Location
					</th>
					<th>
						Price
					</th>
					<th>
						Rating
					</th>
					<th>
						Address
					</th>
					<th style="border-right: 1px solid #ddd;">
					</th>
				</tr>
				<% @my_listings.each do |l| %>
				<tr>
					<td style="border-left: 1px solid #ddd;"><%= l.name %></td>
					<td><%= l.description %></td>
					<td><%= l.location %></td>
					<td>$<%= l.price %></td>
					<td><%= l.overall_rating %></td>
					<td><%= l.address %></td>
					<td style="border-right: 1px solid #ddd;"><a href="../housing_listing/edit/<%=l.id%>" class="btn-sm btn-primary" role="button">Edit</a></td>
				</tr>
				<%end%>
			</table>
		<% else %>
			<p>No results found. Post your first entry by clicking on "Post New Place."</P>
		<% end %>
				
	</div>
</body>
<%= render 'shared/common_dash_scripts' %>