<head>
	<%= render 'shared/common_dash_head' %>
	<!-- DataTables CSS -->
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<%= stylesheet_link_tag 'dashboard_index.css'%>
</head>
<body>
	<%= render 'shared/common_dash_nav' %>
	<div class="col-xs-9">
		<% if @my_listings.length != 0 %>
  			<ul class="nav nav-tabs" role="tablist">
				<% @my_listings.each do |l| %>
					<% if @my_listings.first == l %>
					<li role="presentation" class="active"><a href="#listing_analytics" aria-controls="listing_analytics" role="tab" data-toggle="tab" data-listing-id="<%= l.id %>"><%= l.name %></a></li>
					<% else %>
					<li role="presentation"><a href="#listing_analytics" aria-controls="listing_analytics" role="tab" data-toggle="tab" data-listing-id="<%= l.id %>"><%= l.name %></a></li>
					<% end %>
				<% end %>
  			</ul>
		<% else %>
			<p>No results found. Post your first entry by clicking <a id="click_here_create_listing" href="#">here</a></P>
		<% end %>
		<div id="my-tab-content" class="tab-content">
			<section class="panel">
				<section class="panel-body">
					<div id="listing_analyticsss" class="tab-pane active">
						<div class="row placeholders">
							<div class="col-lg-3 col-md-6">
								<div class="panel panel-primary">
									<div class="panel-heading">
										<i class="fa fa-binoculars fa-4x custom-fa"></i>
										<div class="large">30</div>
										<div class="subtext">Page Views</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6">
								<div class="panel panel-secondary">
									<div class="panel-heading">
										<i class="fa fa-bell fa-4x custom-fa"></i>
										<div class="large">56</div>
										<div class="subtext">Alerts Sent</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6">
								<div class="panel panel-tertiary">
									<div class="panel-heading">
										<i class="fa fa-star fa-4x custom-fa"></i>
										<div class="large">3</div>
										<div class="subtext">Rating</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6">
								<div class="panel panel-quaternary">
									<div class="panel-heading">
										<i class="fa fa-heart fa-4x custom-fa"></i>
										<div class="large">10</div>
										<div class="subtext">Favourited</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</section>
				<section class="panel panel-default">
					<section class="panel-heading"><h3 class="panel-title">Comparing Nearby Listings</h3></section>
					<section class="panel-body">
						<div id="chartdiv"></div>
					</section>
				</section>
				<div class="col-lg-6 col-md-6">
					<section class="panel panel-default">
						<section class="panel-heading"><h3 class="panel-title">Page Views by Location</h3></section>
						<section class="panel-body" style="padding-left: 0px; padding-right: 0px;">
							<div id="pchart_pgviews"></div>
						</section>
					</section>
				</div>
				<div class="col-lg-6 col-md-6">
					<section class="panel panel-default">
						<section class="panel-heading"><h3 class="panel-title">Sources</h3></section>
						<section class="panel-body" style="padding-left: 0px; padding-right: 0px;">
							<div id="pchart_sources"></div>
						</section>
					</section>
				</div>
			</div>
		</div>
	</div>
</body>
<%= render 'shared/common_dash_scripts' %>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/serial.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/pie.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/none.js"></script>
<script>
	function showPriceComparisonChart(avg_price, your_price, max_price, address) {

		var chart = AmCharts.makeChart("chartdiv", {
		    "type": "serial",
		    "theme": "none",
		    "titles": [
				{
					"text": "Comparison Of Listings Near " + address,
					"size": 20
				}
			],
		    "legend": {
		        "useGraphSettings": true,
		        "markerSize":12,
		        "valueWidth":0,
		        "verticalGap":0
		    },
		    "dataProvider": [{
		        "title": "Average Price",
		        "price": avg_price
		    }, {
		        "title": "Your Price",
		        "price": your_price
		    }, {
		        "title": "Max Price",
		        "price": max_price
		    }],
		    "valueAxes": [{
		        "minorGridAlpha": 0.08,
		        "minorGridEnabled": true,
		        "position": "top",
		        "axisAlpha":0
		    }],
		    "startDuration": 1,
		    "graphs": [{
		        "balloonText": "<span style='font-size:13px;'>[[title]]: <b>$[[value]]</b></span>",
		        "title": "Price",
		        "type": "column",
		        "fillAlphas": 0.8,
		         
		        "valueField": "price"
		    }],
		    "rotate": true,
		    "categoryField": "title",
		    "categoryAxis": {
		        "gridPosition": "start"
		    }
		});	
	}

	function showPageViewsByLocPie() {

		var chart = AmCharts.makeChart("pchart_pgviews", {
		    "type": "pie",
		    "theme": "none",
		    "dataProvider": [{
		        "title": "Toronto",
		        "value": 4852
		    }, {
		        "title": "Waterloo",
		        "value": 9899
		    }],
		    "titleField": "title",
		    "valueField": "value",
		    "labelRadius": 5,

		    "radius": "42%",
		    "innerRadius": "60%",
		    "labelText": "[[title]]"
		});	
	}

	function showSourcesbyLocPie() {

		var chart = AmCharts.makeChart("pchart_sources", {
		    "type": "pie",
		    "theme": "none",
		    "dataProvider": [{
		        "title": "Facebook",
		        "value": 4852
		    }, {
		        "title": "Referral",
		        "value": 899
		    }, {
		        "title": "Other",
		        "value": 9899
		    }],
		    "titleField": "title",
		    "valueField": "value",
		    "labelRadius": 5,

		    "radius": "42%",
		    "innerRadius": "60%",
		    "labelText": "[[title]]"
		});	
	}

	function callCompareNearbyListingsPrice(listing_id) {
		$.ajax({
	      method: 'get',
	      url: compare_nearby_listings_price_api,
	      data: {
	      	id: listing_id
	      },
	      success: function(response){
		    console.log(response);
			showPriceComparisonChart(response.average_price, response.listing_price, response.max_price, response.address);
	      },
	      error: function(response) {
	      	console.log(response);
	      }
	    });
	}

	function callPageViewsByLocation() {
		showPageViewsByLocPie();
	}

	function callSourcesByLocation() {
		showSourcesbyLocPie();
	}
  
  var compare_nearby_listings_price_api = "/api/v1/housing/listings/compare_nearby_listings_price";
  
  callCompareNearbyListingsPrice(<%= @my_listings.first.id %>);
  callPageViewsByLocation();
  callSourcesByLocation();

 $(document).on('shown.bs.tab', 'a[data-toggle="tab"]', function (e) {
    var listing_id = $(this).data('listing-id');
    callCompareNearbyListingsPrice(listing_id);
    callPageViewsByLocation();
    callSourcesByLocation();
})
</script>