<head>
	<%= render 'shared/common_dash_head' %>
	<!-- DataTables CSS -->
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<style>
		a:hover {
			text-decoration: none;
		}
		#container {
			padding-top: 10px;
			padding-left: 40px;
			padding-right: 30px;
		}
		table.dataTable thead th, table.dataTable thead td {
			border-bottom: 2px solid #DDD;
		}
		table.dataTable.no-footer {
			border-bottom: 0px;
		}
	</style>
</head>
<body>
	<%= render 'shared/common_dash_nav' %>
	<div id="container" class="col-sm-9 col-md-10">
		<% if @my_favorites.length == 0 %>
			<div class="alert alert-warning">
				You do not have any favorites at this moment.
			</div>
		<% else %>
			<% @my_favorites.each do |favorite| %>
				<div class="col-xs-6">
			        <section class='panel'>
			          <section class='panel-body'>
			          	<div style="background-color: black;">
				            <a href="<%= housing_listing_url(favorite.housing_listing_id) %>" target="_blank">  <% if favorite.housing_listing.housing_images.first %>
			            		<img class="img-responsive center-block" src="<%= favorite.housing_listing.housing_images.first.url %>" style="max-height: 300px;">
				              	</img>
				              <% end %>
				            </a>
				        </div>
			            <div id="text" style="font-family: sans-serif; text-align:center; margin: 10px;">
			              <strong style="font-size: 22px;">
			              <%= favorite.housing_listing.name %>
			              </strong>
			            </div>
			            <div style="margin: 10px; text-align:center; ">
			              <i class="fa fa-map-marker"></i>
			              <%= truncate(favorite.housing_listing.location, :length => 32) %>
			            </div>
			            <div id="text" class="col-md-6 col-xs-12" style="font-family: sans-serif; text-align:left;">
			              <i class="fa fa-bed"></i>
			              <%= favorite.housing_listing.housing_setting.rooms_available %> bedrooms
			            </div>
			            <div id="text" class="col-md-6 col-xs-12" style="font-family: sans-serif; text-align:right;">
			              <i class="fa fa-dollar"></i>
			              <%= favorite.housing_listing.price %>
			            </div>
			          </section>
			        </section>
			    </div>
			<% end %>
		<% end %>
	</div>
</body>
<%= render 'shared/common_dash_scripts' %>
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>

<script>
	$(document).ready(function() {
		$("#entry_listings").DataTable();
	});

	$("#click_here_create_listing").on("click", function(e) {
		e.preventDefault();

		createNewListing();
	})
</script>