<!DOCTYPE html>
<html>
  <head>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.css">
    <link rel="stylesheet" href="/assets/bootstrap-datepicker/css/datepicker.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- Latest compiled and minified JavaScript -->


    <style type="text/css">
      body, html {
        height: 100%;
        width: 100%;
        background-color: #DEDEDE;
      }
      #wrapper {
        height: 100%;
        width: 100%;
        background-color: #DEDEDE;
      }
      .form-text {
        width: 100%; 
        border: 1px solid #ccc; 
        padding-right: 12px;
        height: 40px;
        background-color: #CFCFCF;
      }
      .form-text-area {
        width: 100%; 
        border: 1px solid #ccc; 
        padding-right: 12px;
        background-color: #CFCFCF;
      }
      #form-text-wrapper {
        margin-bottom: 1%;
        margin-top: 10px;
        font-family: sans-serif;
        font-size: 22px;
      }
      .input-checkbox {
        border: 1px solid #ccc; 
        background-color: #CFCFCF;
      }
      .btn {
        font-family: sans-serif;
      }
      i {
        color: #2E90E6;
      }
      .fa-star {
        font-size: 50px;
        color: #FFD700;
        padding-right: 10px;
      }
      .comment {
        margin-bottom: 10px;
      }
      .commenter_name {
        color: #2E90E6;
      }
    </style>
  </head>
  <body>
    <div id="wrapper">

      <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                  </div>
            <div class="navbar-collapse collapse">
                      <ul class="nav navbar-nav navbar-right">
                          <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
                          <li><a href="#">About</a></li>
                          <% if user_signed_in? %>
                          <li><a href="<%= dashboard_index_path %>">Dashboard</a></li>
              <% else %>
                          <li><a id="sign_in_btn" href="#">Sign in</a></li>
              <% end %>
                      </ul>
                  </div>
        </div>
      </nav>
      <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12" style="">
          <div id="map-canvas" style="height:317px;"></div>
        </div>
      </div>
      <div class="container">
        <div class="col-md-7" style="margin-top: 20px;">
          <section class='panel'>
            <section class="panel-heading">
              <div id="form-text-wrapper" style="text-align: center;">
                <h3>
                  <i class="fa fa-building-o"></i>
                  <%= @housing_listing.name %>
                </h3>
              </div>
              <div id="form-text-wrapper" style="text-align: center; font-size: 15px;">
                <%= @housing_listing.location %>
              </div>
            </section>
            <section class='panel-body'>
              <div class="col-md-12" id="" style="padding-left: 0px; padding-right: 0px; font-size: 22px;">
                <i class="fa fa-pencil"></i>
                Description
              </div>
              <div style="font-size: 18px;">
                <%= @housing_listing.description %>
              </div>
            </section>
          </section>

          <section class='panel'>
            <section class="panel-heading">
              <div id="form-text-wrapper" style="text-align: center;">
                <h3>
                  Amenities
                </h3>
              </div>
            </section>
            <section class="panel-body">
              <div id="" class="col-md-6" style="font-size: 17px;">
                <i class="fa fa-bed"></i>
                <%= @housing_listing.housing_setting.furnished == 1 ? 'Furnished' : 'Unfurnished' %>
              </div>
            </section>
          </section>

          <section class='panel'>
            <section class="panel-heading">
              <div id="form-text-wrapper" style="text-align: center;">
                <h3>
                  Reviews
                </h3>
              </div>
            </section>
            <section class="panel-body">
              <div id="comments_body">
                <% if @housing_listing.housing_reviews.length > 0 %>

                  <% @housing_listing.housing_reviews.each do |housing_review| %>
                    <% if !housing_review.comment.empty? %>
                    <div class="col-xs-9">
                      <span class="commenter_name" style="font-size: 20px;">
                        <%= housing_review.user.first_name %>
                      </span> says
                    </div>
                    <div class="col-xs-3">
                      <% housing_review.rating.to_i.times do%>
                        <i class="fa fa-star" style="font-size: 15px; padding: 0px; margin: 0px;"></i>
                      <% end %>
                    </div>
                    <div class="col-xs-12 comment" style="font-size: 18px;">
                      <%= housing_review.comment %>
                    </div>
                    <% end %>
                  <% end %>
                <% else %>
                  <div id="no_review_warning" class="col-xs-12">
                    <div class="alert alert-warning">
                      No reviews for this listing yet
                    </div>
                  </div>
                <% end %>
              </div>

              <% if user_signed_in? %>
                <div class="col-xs-12">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <input id="rating_input" type="number" data-max="5" data-min="1" data-empty-value="0" class="rating form-control input-group-addon" />
                    </span>
                    <span>
                      <input id="comment_input" type="text" class="form-control" placeholder="Add a new comment...">
                     </span>
                    <span class="input-group-btn">
                      <button id="comment_submit_btn" class="btn btn-default" type="button">Comment</button>
                    </span>
                  </div><!-- /input-group -->
                </div>
              <% end %>
            </section>
          </section>
        </div>
        <div class="col-md-5">
          <div style="width: 100%;">
            <h3>
              <button id="send_message_btn" class="btn btn-lg btn-info"  style="width: 100%;">
                <i class="fa fa-envelope" style="color: #FFF"></i>
                Message
              </button>
            </h3>
          </div>
          <section class='panel'>
            <section class="panel-heading">
              <div id="form-text-wrapper" style="text-align: center;">
                <h3>
                  Details
                </h3>
              </div>
            </section>
            <section class='panel-body'>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div id="" class="col-md-6 col-sm-6 col-xs-6" style="padding-left: 0px;">
                  <h4>
                  <i class="fa fa-bed"></i>
                   <%= @housing_listing.housing_setting.rooms_available %> Bedrooms
                  </h4>
                  <h4>
                  <i class="fa fa-tint"></i>
                    <%= @housing_listing.housing_setting.num_washrooms %> Bathrooms
                  </h4>
                </div>
                <div id="" class="col-md-6 col-sm-6 col-xs-6" style="padding-right: 0px; padding-top:15px; height: 100%">
                  <span id="" style="font-size: 25px;">
                    $<%= @housing_listing.price %>
                  </span>
                  <span style="font-size: 15px;">
                    per month
                  </span>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div style="margin-top: 18px;">
                  <i class="fa fa-clock-o"></i>
                  Available
                </div>
                <div id="" style="font-size: 20px;">
                  <h4>
                    <%= @housing_listing.housing_setting.start_date.strftime("%B %e, %Y") %>
                     to 
                    <%= @housing_listing.housing_setting.end_date.strftime("%B %e, %Y") %>
                  </h4>
                </div>
              </div>
            </section>
          </section>


            <section class='panel'>
              <section class='panel-body'>
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="height: 317px;">
                  <!-- Indicators -->
                  <ol id="carousel_indicators" class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div id="carousel_inner" class="carousel-inner" role="listbox">
                    <div class="item active">
                      <img src="/images/homepage_bg.jpeg" alt="..."></img>
                      <div class="carousel-caption">
                      </div>
                    </div>
                    <div class="item">
                      <img src="/images/homepage_bg.jpeg" alt="..."></img>
                      <div class="carousel-caption">
                        <h3>First bedroom</h3>
                        <p>This is the master bedroom - Lots of sunlight and shit</p>
                      </div>
                    </div>
                    <% @housing_listing.housing_images.each do |housing_image| %>
                      <div class="item">
                        <img src="<%= housing_image.url %>" alt="..." style="width: 100%; height: 317px;"></img>
                        <div class="carousel-caption">
                          <h3><%= housing_image.title %></h3>
                          <p><%= housing_image.description %></p>
                        </div>
                      </div>
                    <% end %>
                  </div>

                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </section>
            </section>

          <section class='panel'>
            <section class="panel-heading">
              <div id="form-text-wrapper" style="text-align: center;">
                <h3>
                  Rating
                </h3>
              </div>
            </section>
            <section class="panel-body" style="text-align: center;">
              <% @housing_listing.overall_rating.to_i.times do %>
                <i class="fa fa-star"></i>
              <% end %>
            </section>
          </section>
        </div>
      </div>
      <div class="container">
        <div class="col-md-12" style="margin-bottom: 40px;">
          <div id="pano" style="width: 100%; height: 400px;"></div>
        </div>
      </div>
    </div>
  </body>

  <div class="modal" id="housing_inquiry_email_modal" tabindex="-1" role="dialog" aria-labelledby="housing_inquiry_email_modal" aria-hidden="true">
      <div class="modal-dialog modal-sm">
          <div class="modal-content">
              <div class="modal-header">
                <h4>Send Message</h4>
              </div>
              <div class="modal-body">
                <div>
                  Your email
                  <% if user_signed_in?%>
                    <input id="email_input" class="form-text" type="text" value="<%= current_user.email %>">
                  <% else %>
                    <input id="email_input" class="form-text" type="text" value="">
                  <% end %>
                </div>
                <div>
                  Message
                  <textarea id="message_input" class="form-text-area" rows="5" id="photo_details"></textarea>
                </div>
                <div id="send_email_btn" class="btn btn-success" style="width: 100%;">
                  Send
                </div>
              </div>
              
          </div>
      </div>
  </div><!-- end of photos_modal -->
</html>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="/assets/bootstrap-switch-master/dist/js/bootstrap-switch.js"></script>
<script src="/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/assets/bootstrap-rating-input/src/bootstrap-rating-input.js"></script>
<script src="/assets/jquery.ui.widget"></script>
<script src="/assets/jquery.iframe-transport"></script>
<script src="/assets/jquery.fileupload"></script>
<script src="/assets/jquery.cloudinary"></script>

<script>

  var cloudinary_image_new_api = "<%= api_cloudinary_image_new_url %>";
  var housing_listing_create_api = "<%= api_create_housing_listing_url %>"
  var current_housing_listing_id = <%= @housing_listing.id %>;

  $('.datepicker').datepicker({
    format: "M dd, yyyy",
    autoclose: true,
    showToday: true,
    sideBySide: true,
    pickerPosition: "bottom-right"
  })

  /*----------------------------------------------------------
  |                     Google Maps                          |
  -----------------------------------------------------------*/

  var mapOptions = {
      center: new google.maps.LatLng(43.4304343, -80.4763151),
      minZoom: 10,
      zoom: 14,
      maxZoom: 17,
      scrollwheel: false,
      streetViewControl: false,
      panControl: false,
      mapTypeControl: false
  };

  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  var myLatlng = new google.maps.LatLng(<%= @housing_listing.latitude %>, <%= @housing_listing.longitude%>);

    // set the marker position and display it
    marker = new google.maps.Marker({
        animation: google.maps.Animation.DROP,
        map: map,
        position: myLatlng
    });

    map.setCenter(myLatlng);
    map.setZoom(17);


  var panoramaOptions = {
    position: myLatlng,
    pov: {
      heading: 0,
      pitch: 0
    }
  };

  var panorama = new google.maps.StreetViewPanorama(document.getElementById('pano'), panoramaOptions);
  map.setStreetView(panorama);

  /*---------------------------------------
  |           Click listeners             |
  ----------------------------------------*/

  $("#upload_photos_btn").on("click", function(e) {
    e.preventDefault();

    $("#photos_modal").modal("show");

  });

  $("#custom_photo_upload_submit_btn").on("click", function(e) {
    e.preventDefault();

    $("#photo_upload_submit_btn").click();
  });

  /*-----------------------------------------
  |            Bootstrap Switches           |
  ------------------------------------------*/

  $("#furnished_checkbox").bootstrapSwitch({
    onText: 'Furnished',
    offText: 'Unfurnished',
    onColor: 'success',
    offColor: 'info',
    size: 'small',
  });

  $("#housing_type_checkbox").bootstrapSwitch({
    onText: 'Apartment',
    offText: 'House',
    onColor: 'success',
    offColor: 'info',
    size: 'small',
  });

  /*-----------------------------------------
  |               Comments                   |
  -------------------------------------------*/

  var housing_listing_comment_api = "<%= api_comment_housing_listing_url %>";

  $("#comment_submit_btn").on("click", function(e) {
    e.preventDefault();

    var housing_listing_id = "<%= @housing_listing.id %>";
    var comment = $("#comment_input").val();
    var rating = $("#rating_input").val();

    $.ajax({
      method: 'post',
      url: housing_listing_comment_api,
      data: {
        housing_listing_id: housing_listing_id,
        comment: comment,
        rating: rating
      },
      success: function(response){
        console.log(response);

        if(comment) {

          $("#comment_input").val('')
          $("#no_review_warning").hide();
          var rating_div = "<div class='col-xs-3'>";
          for (var counter = 0; counter < rating; counter++) {
            rating_div += "<i class='fa fa-star' style='font-size: 15px; padding: 0px; margin: 0px;'></i>";
          }
          rating_div += "</div>";
          $("#comments_body").append("<div class='col-xs-9'><span class='commenter_name' style='font-size: 20px;'><%= current_user.first_name %></span> says</div>"+ rating_div + "<div class='col-xs-12 comment' style='font-size: 18px;'>" + comment + "</div>");
    
        }
      },
      error: function(response) {
        console.log(response);
      }
    });

  })

  /*--------------------------------------------
  |             Send Inquiry Email             |
  ---------------------------------------------*/

  var housing_listing_id = "<%= @housing_listing.id %>";
  var housing_listing_send_inquiry_email_api = "<%= api_send_inquiry_email_housing_listing_url %>";

  $("#send_message_btn").on("click", function(e) {
    e.preventDefault();

    $("#housing_inquiry_email_modal").modal("show");
  });

  $("#send_email_btn").on("click", function(e) {
    var message = $("#message_input").val();
    var email = $("#email_input").val();

    $.ajax({
      method: 'post',
      url: housing_listing_send_inquiry_email_api,
      data: {
        housing_listing_id: housing_listing_id,
        message: message,
        email: email
      },
      success: function(response){
        console.log(response);
      },
      error: function(response) {
        console.log(response);
      }
    });
  });


</script>