<!DOCTYPE html>
<html>
  <head>

    <style type="text/css">
      body, html {
        height: 100%;
        width: 100%;
      }
      .form-text {
        width: 100%; 
        border: 1px solid #ccc; 
        padding-right: 12px;
        height: 40px;
        background-color: #CFCFCF;
      }
      .form-text-area {
        width: 100%; 
        border: 1px solid #ccc; 
        padding-right: 12px;
        background-color: #CFCFCF;
      }
      #form-text-wrapper {
        margin-bottom: 1%;
        margin-top: 10px;
        font-family: sans-serif;
        font-size: 22px;
      }
      .input-checkbox {
        border: 1px solid #ccc; 
        background-color: #CFCFCF;
      }
      .btn {
        font-family: sans-serif;
      }
    </style>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.css">
    <link rel="stylesheet" href="/assets/bootstrap-datepicker/css/datepicker.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- Latest compiled and minified JavaScript -->
  </head>
  <body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
                </div>
          <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
                        <li><a href="#">About</a></li>
                        <% if user_signed_in? %>
                        <li><a href="<%= dashboard_index_path %>">Dashboard</a></li>
            <% else %>
                        <li><a id="sign_in_btn" href="#">Sign in</a></li>
            <% end %>
                    </ul>
                </div>
      </div>
    </nav>
    
    <div class="col-md-12">
      <div class="col-md-6 col-sm-12 col-xs-12">
        <section class='panel'>
          <section class='panel-body'>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="height: 317px;">
              <!-- Indicators -->
              <ol id="carousel_indicators" class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div id="carousel_inner" class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="/images/homepage_bg.jpeg" alt="..."></img>
                  <div class="carousel-caption">
                  </div>
                </div>
                <div class="item">
                  <img src="/images/homepage_bg.jpeg" alt="..."></img>
                  <div class="carousel-caption">
                    <h3>First bedroom</h3>
                    <p>This is the master bedroom - Lots of sunlight and shit</p>
                  </div>
                </div>
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>

            <button id="upload_photos_btn" class="btn btn-success" style="width:100%; margin-top: 1%; height: 40px;">Upload photos</button>
          </section>
        </section>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12" style="">
        <section class='panel'>
          <section class='panel-body'>
            <div id="map-canvas" style="height:317px;"></div>

            <div id="form-text-wrapper">
              <input id="address_input" class="form-text" type="text" placeholder="Type an address..."></input>
            </div>
          </section>
        </section>
      </div>
    </div>

      <div class="col-md-8" style="margin-top: 20px;">
        <section class='panel'>
          <section class='panel-body'>
            <div id="form-text-wrapper">
              <h4>
              <i class="fa fa-font"></i>
              Title</h4>
              <input id="housing_listing_title" class="form-text" type="text"></input>
            </div>
            <div id="form-text-wrapper" class="col-md-6 col-sm-6 col-xs-6" style="padding-left: 0px;">
              <h4>
              <i class="fa fa-bed"></i>
                Bedrooms
              </h4>
              <input id="housing_listing_bedrooms" class="form-text" type="text"></input>
            </div>
            <div id="form-text-wrapper" class="col-md-6 col-sm-6 col-xs-6" style="padding-right: 0px;">
              <h4>
              <i class="fa fa-tint"></i>
                Bathrooms
              </h4>
              <input id="housing_listing_bathrooms" class="form-text" type="text"></input>
            </div>
            <div id="form-text-wrapper" class="col-md-6" style="padding-left: 0px;">
              <h4>
                <i class="fa fa-building-o"></i>
                Type
              </h4>
              <input id="housing_type_checkbox" type="checkbox" name="housing_type_checkbox" checked>
            </div>
            <div id="form-text-wrapper" class="col-md-6">
              <h4>
                <i class="fa fa-bed"></i>
                Furniture
              </h4>
              <input id="furnished_checkbox" type="checkbox" name="furnished_checkbox" checked>
            </div>
            <div class="col-md-12" id="form-text-wrapper" style="padding-left: 0px; padding-right: 0px">
              <h4>
              <i class="fa fa-pencil"></i>
              Details</h4>
              <textarea id="housing_listing_details" class="form-text-area" rows="5" id="details"></textarea>
            </div>
          </section>
        </section>
      </div>
      <div class="col-md-4" style="margin-top: 20px;">
        <section class='panel'>
          <section class='panel-body'>
            <div id="form-text-wrapper">
              <h4>
              <i class="fa fa-dollar"></i>
              Price</h4>
              <input id="housing_listing_price" class="form-text" type="text"></input>
            </div>
            <div id="form-text-wrapper">
              <h4>
              <i class="fa fa-clock-o"></i>
              Start Date
              </h4>
              <input id="housing_listing_start_date" class="datepicker form-text-area" data-date-format="mm/dd/yyyy">
            </div>
            <div id="form-text-wrapper">
              <h4>
              <i class="fa fa-clock-o"></i>
              End Date
              </h4>
              <input id="housing_listing_end_date" class="datepicker form-text-area" data-date-format="mm/dd/yyyy">
            </div>
          </section>
        </section>
      </div>
      <div class="col-md-12" style="text-align:center; padding-bottom: 50px;">
        <button id="cancel_btn" class="btn btn-warning btn-lg" style="width: 300px;">
          Cancel
        </button>
        <button id="publish_btn" class="btn btn-success btn-lg" style="width: 300px;">
          Publish
        </button>
      </div>

  </body>

  <div class="modal" id="photos_modal" tabindex="-1" role="dialog" aria-labelledby="login_modal" aria-hidden="true">
      <div class="modal-dialog modal-sm">
          <div class="modal-content">
              <div class="modal-header">
                <h4>Upload photo</h4>
              </div>
              <div class="modal-body">
                <div>
                  Title (Optional)
                  <input id="image_title" class="form-text" type="text">
                </div>
                <div>
                  Description (Optional)
                  <textarea id="image_description" class="form-text-area" rows="5" id="photo_details"></textarea>
                </div>
                <div id="custom_photo_upload_submit_btn" class="btn btn-success" style="width: 100%;">
                  Upload photo
                </div>
              </div>
              
          </div>
      </div>
  </div><!-- end of photos_modal -->

  <div class="modal" id="success_modal" tabindex="-1" role="dialog" aria-labelledby="login_modal" aria-hidden="true">
      <div class="modal-dialog modal-sm">
          <div class="modal-content">
              <div class="modal-header" style="background-color: #51AA51">
                <h4>Success</h4>
              </div>
              <div class="modal-body">
                Your housing listing has been successfully published. You will be redirected to your published listing once you click OK.
              </div>
              <div class="modal-footer">
                <button id="success_ok_btn" type="button" class="btn btn-success">OK</button>
              </div>
          </div>
      </div>
  </div><!-- end of success_modal -->

  <%= cl_image_upload_tag(:image_id, :html => {'id' => 'photo_upload_submit_btn'}) %>
</html>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="/assets/bootstrap-switch-master/dist/js/bootstrap-switch.js"></script>
<script src="/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/assets/jquery.ui.widget"></script>
<script src="/assets/jquery.iframe-transport"></script>
<script src="/assets/jquery.fileupload"></script>
<script src="/assets/jquery.cloudinary"></script>

    <%= cloudinary_js_config %>
<script>

  var cloudinary_image_new_api = "<%= api_cloudinary_image_new_url %>";
  var housing_listing_create_api = "<%= api_create_housing_listing_url %>"
  var current_housing_listing_id = <%= @housing_listing.id %>;

  $('.datepicker').datepicker({
    format: "M dd, yyyy",
    autoclose: true,
    showToday: true,
    sideBySide: true,
    pickerPosition: "bottom-right"
  })

  /*----------------------------------------------------------
  |                     Google Maps                          |
  -----------------------------------------------------------*/

  var mapOptions = {
      center: new google.maps.LatLng(43.4304343, -80.4763151),
      minZoom: 10,
      zoom: 14,
      maxZoom: 17,
      scrollwheel: false,
      streetViewControl: false,
      panControl: false,
      mapTypeControl: false
  };

  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);


  var address_input = document.getElementById('address_input');

  address_autocomplete = new google.maps.places.Autocomplete(address_input, {
      types: ['geocode']
  });

  var marker;

  var address_parts = {};

  google.maps.event.addListener(address_autocomplete, 'place_changed', function() {

    var place = address_autocomplete.getPlace();

    var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'short_name',
        administrative_area_level_1: 'short_name',
        postal_code: 'short_name',
        postal_code_prefix: 'short_name',
        country: 'short_name'
    };

    for (var i = 0; i < place.address_components.length; i++) {
        var addressType = place.address_components[i].types[0];

        if(componentForm[addressType]) {
            address_parts[addressType] = place.address_components[i][componentForm[addressType]];
        }
    }

    if(marker) {
      marker.setMap(null);
    }

    // set the marker position and display it
    marker = new google.maps.Marker({
        animation: google.maps.Animation.DROP,
        map: map,
        position: place.geometry.location
    });

    map.setCenter(place.geometry.location);
    map.setZoom(17);

  });

  /*---------------------------------------
  |           Click listeners             |
  ----------------------------------------*/

  $("#upload_photos_btn").on("click", function(e) {
    e.preventDefault();

    $("#photos_modal").modal("show");

  });

  $("#custom_photo_upload_submit_btn").on("click", function(e) {
    e.preventDefault();

    $("#photo_upload_submit_btn").click();
  });

  $("#publish_btn").on("click", function(e) {
    e.preventDefault();

    var street_address = address_parts['street_number'] + " " + address_parts['route'];
    var city = address_parts['locality'];
    var postal_code = address_parts['postal_code'].replace(" ", "");
    var province = address_parts['administrative_area_level_1'];
    var country = address_parts['country'];
    var title = $("#housing_listing_title").val();
    var description = $("#housing_listing_details").val(); 
    var bedrooms = $("#housing_listing_bedrooms").val();
    var bathrooms = $("#housing_listing_bathrooms").val();
    var furnished = $("#furnished_checkbox").is(":checked") ? 1 : 0;
    var type = $("#furnished_checkbox").is(":checked") ? 'Apartment' : 'House';
    var price = $("#housing_listing_price").val();
    var start_date = $("#housing_listing_start_date").val();
    var end_date = $("#housing_listing_end_date").val();

    $.ajax({
      async: false,
      method: 'post',
      url: housing_listing_create_api,
      data: {
        id: current_housing_listing_id,
        street_address: street_address,
        city: city,
        postal_code: postal_code,
        province: province,
        country: country,
        name: title,
        description: description,
        bedrooms: bedrooms,
        bathrooms: bathrooms,
        furnished: furnished,
        type: type,
        price: price,
        start_date: start_date,
        end_date: end_date
      },
      success: function(response){
        console.log(response);
        $("#success_modal").modal("show");
      },
      error: function(response) {
        console.log(response);
      }
    });

  });

  /*-----------------------------------------
  |            Bootstrap Switches           |
  ------------------------------------------*/

  $("#furnished_checkbox").bootstrapSwitch({
    onText: 'Furnished',
    offText: 'Unfurnished',
    onColor: 'success',
    offColor: 'info',
    size: 'small',
  });

  $("#housing_type_checkbox").bootstrapSwitch({
    onText: 'Apartment',
    offText: 'House',
    onColor: 'success',
    offColor: 'info',
    size: 'small',
  });

  /*------------------------------------------------------------  
  |                       Cloudinary Upload                    |
  -------------------------------------------------------------*/

  $(".cloudinary-fileupload").on("cloudinarydone", function(e, data) {

    child_logo_uploaded = true; // Set the flag so that users know when to 
    var cloudinary_upload_response = data.jqXHR.responseJSON;
    var cl_image_public_id = cloudinary_upload_response.public_id;
    var cl_image_id; // Corresponds to the row id of the image in the database

    if(e.currentTarget.id == 'default_banner_image_file_upload') {
      image_category = 'banner';
    }

    // Store the cloudinary upload information in the database
    $.ajax({
      async: false,
      method: 'post',
      url: cloudinary_image_new_api,
      data: {
        cloudinary_upload_response: cloudinary_upload_response,
        housing_listing_id: current_housing_listing_id,
        image_title: $("#image_title").val(),
        image_description: $("#image_description").val()
      },
      success: function(response){
        console.log(response);
        var cloudinary_image_response = response.image_response;
        var housing_image = response.housing_image;
        
        var data_slide_to = $("#carousel_indicators").children().length;
        var $cloudinary_image_transformed = $.cloudinary.image(cloudinary_image_response.public_id, 
                                            { width: 555, height: 315, crop: 'fill' });
        
        $("#carousel_indicators").append("<li data-target='#carousel-example-generic' data-slide-to= " + data_slide_to + "></li>");

        var $title_description_html = $("<div class='carousel-caption'><h3>" + housing_image['title'] + "</h3><p>" + housing_image['description'] + "</p></div>");

        var $div_item = $("<div class='item'></div>");

        $div_item.append($cloudinary_image_transformed).append($title_description_html);

        $("#carousel_inner").append($div_item);

      },
      error: function(response) {
        console.log(response);
      },
      complete: function() {
        $("#photos_modal").modal("hide");
      }
    });

  });


</script>