<html>
	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/assets/ladda/dist/ladda-themeless.min.css">
		<link rel="stylesheet" href="/assets/AdminLTE/dist/css/AdminLTE.min.css">
		<link href="/assets/AdminLTE/dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />

		<%= stylesheet_link_tag 'welcome_index.css'%>
	</head>

	<body class="skin-blue sidebar-mini">
		<%= render 'shared/common_front_nav' %>
	  	<div class="container" id="homepage">
	  		<div class="jumbotron">
	  			<div class="search_content_text">
	  				Let's find a great place for you.
	  			</div>
	            <div class="input-group">
	                <span>
				    	<input name="search" class="form-control" id="address_input"/>
	                 </span>
	                <span class="input-group-btn">
				    	<button id="location_search_btn" href="/housing_listing/show" class="ladda-button btn btn-info btn-lg" data-style="slide-right">
				    	<i class="fa fa-search"></i>
				    		Search
				    	</button>
				    </span>
	            </div><!-- /input-group -->
			</div>
		</div>
		<div class="navbar navbar-fixed-bottom skin-blue">
		  <div class="container" style="margin-bottom: 10px; text-align: center;">
		  	<div class="col-xs-12 col-sm-3">
		  		<h4>
			    	<b>Connect</b>
			    </h4>
			    <a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
			    <a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
		  	</div>
		  	<div class="col-xs-12 col-sm-3 pull-right">
			    <h4>
			    	<b>Contact</b>
			    </h4>
			    <div>
			    	hello@studenthousing.com
			    </div>
		  	</div>
		  </div>
		</div>
	</body>
	<div class="modal" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="login_modal" aria-hidden="true">
	    <div class="modal-dialog modal-sm">
	        <div class="modal-content">
	            <div class="modal-header">
	              <h2>Login</h2>
	            </div>
	            <div class="modal-body">
	              	<%= form_for(:user, :url => session_path(:user)) do |f| %>
	              		<span>Email</span>
	                    <input type="text" class="form-control" name="user[email]" id="email" style="margin-bottom: 5px">
	                    <span>Password</span>
	                    <input type="password" class="form-control" name='user[password]'>
	                    <span class="help-block error" id="login_errors"></span>
	                    <span>
	                    	<input type="checkbox" name='user[remember_me]' id='remember_me' checked> Remember me
	                    	<span class="pull-right">
	                    		<%= link_to "Forgot your password?", new_password_path(:user) %>
	                    	</span>
	                    </span>
	                    <br />
	                    <button class="btn btn-lg btn-primary btn-block" id="login_btn" type="submit" style="margin-top:5px">Login</button>
	                    <span>Don't have an account yet? <a href="#" id="register_btn">Register</a> </span>
					<% end %>
	            </div>
	            
	        </div>
	    </div>
	</div><!-- end of login_modal -->

	<div class="modal" id="register_modal" tabindex="-1" role="dialog" aria-labelledby="register_modal" aria-hidden="true">
	    <div class="modal-dialog modal-md">
	        <div class="modal-content">
	            <div class="modal-header">
	              <h2>Sign up</h2>
	            </div>
	            <div class="modal-body">
	              	<%= form_for(:user, :url => registration_path(:user)) do |f| %>
	              		<span>Email</span>
	                    <input type="text" class="form-control" name="user[email]" id="user_email" style="margin-bottom: 5px">

	                    <div class="field">
		                  <span>First Name</span> 
		                  <input type="text" class="form-control" name="user[first_name]" id="first_name" style="margin-bottom: 5px">
		                </div>

		                <div class="field">
		                  <span>Last Name</span> 
		                  <input type="text" class="form-control" name="user[last_name]" id="last_name" style="margin-bottom: 5px">

		                  <div class="field">
	                    	<span>Password</span>
			                  <% if @validatable %>
			                  <em>(<%= @minimum_password_length %> characters minimum)</em>
			                  <% end %><br />
			                    <input type="password" class="form-control" name='user[password]' id="user_password">
			                    <span class="help-block error" id="login_errors"></span>
			                </div>

			                <div class="field">
	                    	<span>Password Confirmation</span>
			                <input type="password" class="form-control" name='user[password_confirmation]' id="user_password_confirmation">
                		 </div>

	                    <br />
	                    <button class="btn btn-lg btn-primary btn-block" id="login_btn" type="submit">Sign up</button>
					<% end %>
	            </div>
	            
		        </div>
		    </div>
		   </div>
		</div><!-- end of register_modal -->

	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src="/assets/ladda/dist/spin.min.js"></script>
	<script src="/assets/spin.js/jquery.spin.js"></script>
	<script src="/assets/ladda/dist/ladda.min.js"></script>
	<script src="/assets/AdminLTE/dist/js/app.min.js"></script>
	<%= javascript_include_tag "/javascripts/welcome_index" %>

</html>
