<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'housing_listings_index.css'%>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.css">
    <link rel="stylesheet" href="/assets/bootstrap-datepicker/css/datepicker.css">
    <link rel="stylesheet" href="/assets/seiyria-bootstrap-slider/css/bootstrap-slider.css"></script>
    <link rel="stylesheet" href="/assets/AdminLTE/dist/css/AdminLTE.min.css">
    <link href="/assets/AdminLTE/dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- Latest compiled and minified JavaScript -->
  </head>
  <body class="skin-blue sidebar-mini">
    <%= render 'shared/common_front_nav' %>

    <div class="col-md-9 col-sm-8 col-xs-7" style="height: 100%;">
      <div id="map-canvas" style="height:100%;"></div>
    </div>
    <div id="housing_listing_results_wrapper" class="col-md-3 col-sm-4 col-xs-5" style="height: 100%; overflow: scroll; padding-left: 0px;">
      <% @housing_listings.each do |housing_listing| %>
      <div style="">
        <section class='panel'>
          <section class='panel-body'>
            <div style="background-color: black;">
                <a href="<%= housing_listing_url(housing_listing) %>" target="_blank">  
                  <% if housing_listing.housing_images.first %>
                  <img class="img-responsive center-block" src="<%= housing_listing.housing_images.first.url %>" style="max-height: 230px;">
                    </img>
                  <% else %>
                  <img class="img-responsive center-block" src="/images/no_photos_available.jpg" style="max-height: 230px;">
                  <% end %>
                </a>
            </div>
            <div id="text" style="font-family: sans-serif; text-align:center; margin: 10px;">
              <strong style="font-size: 22px;">
              <%= housing_listing.name %>
              </strong>
            </div>
            <div style="margin: 10px;">
              <i class="fa fa-map-marker"></i>
              <%= truncate(housing_listing.location, :length => 32) %>
            </div>
            <div id="text" class="col-md-6 col-xs-12" style="font-family: sans-serif; text-align:left;">
              <i class="fa fa-bed"></i>
              <%= housing_listing.housing_setting.rooms_available %> bedrooms
            </div>
            <div id="text" class="col-md-6 col-xs-12" style="font-family: sans-serif; text-align:right;">
              <i class="fa fa-dollar"></i>
              <%= housing_listing.price %>
            </div>
          </section>
        </section>
      </div>
      <% end %>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div style="text-align: center; margin:10px;">
        <strong>
          Filters
        </strong>
      </div>
      <div class="container-fluid" style="margin: 10px; text-align: center;">
        <span style="margin: 10px;">
          <span style="margin: 10px;">
          <i class="fa fa-dollar"></i>
            Price        
          </span>
          <b>$0</b> <input id="price_slider" type="text" class="span2" value="" data-slider-min="0" data-slider-max="1500" data-slider-step="25" data-slider-value="[0,1500]"/> <b>$1500+</b>
        </span>
        <span style="margin: 10px;">
          <span style="margin: 10px;">
          <i class="fa fa-bed"></i>
            Bedrooms        
          </span>
          <b>1</b> <input id="bedroom_slider" type="text" class="span2" value="" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="[1,5]"/> <b>5+</b>
        </span>
        <span>
          <button id="filter_submit_btn" class="btn btn-success">
            <i class="fa fa-rocket"></i>
            Go!
          </button>
        </span>
      </div>
    </nav>
  </body>
</html>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="/assets/bootstrap-switch-master/dist/js/bootstrap-switch.js"></script>
<script src="/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/assets/seiyria-bootstrap-slider/js/bootstrap-slider.js"></script>
<script src="/assets/jquery.ui.widget"></script>
<script src="/assets/jquery.iframe-transport"></script>
<script src="/assets/jquery.fileupload"></script>
<script src="/assets/jquery.cloudinary"></script>
<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>
<script src="/assets/AdminLTE/dist/js/app.min.js"></script>

<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclustererplus/src/markerclusterer.js"></script>


<script type="text/javascript">
  /*
      VARIABLES IN SCRIPTS
  */
  var current_city = "<%= @city %>";
  var current_province = "<%= @province %>";
  var current_country = "<%= @country %>";
  var api_filter_housing_listing = "<%= housing_with_filters_api_v1_housing_listings_url %>";

</script>

<%= javascript_include_tag "/javascripts/housing_listings_index" %>

<script type="text/javascript">
    /*
      GOOGLE MAPS
  */
  var mapOptions = {
      center: new google.maps.LatLng(43.4304343, -80.4763151),
      minZoom: 5,
      zoom: 10,
      maxZoom: 17,
      scrollwheel: false,
      streetViewControl: false,
      panControl: false,
      mapTypeControl: false
  };
  
  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  var markers = [];
  var latlngArray = [];
  var infoWindows = [];

  <% @housing_listings.each do |housing_listing| %>

    var myLatlng = new google.maps.LatLng(<%= housing_listing.latitude %>, <%= housing_listing.longitude%>);
    var url = "";
    <% if housing_listing.housing_images.first %>
      url = "<%= housing_listing.housing_images.first.url %>";
    <% end %>
    var contentString = getContentString("<%= housing_listing_url(housing_listing) %>" , url, "<%= housing_listing.name %>", "<%= housing_listing.housing_setting.rooms_available %>", "<%= housing_listing.price %>");

    // set the marker position and display it
    var marker = new google.maps.Marker({
        animation: google.maps.Animation.DROP,
        map: map,
        position: myLatlng
    });

    markers.push(marker);
    var infoBoxOptions = getInfoBoxOptions(contentString);

    var infobox = new InfoBox(infoBoxOptions);
    var content = contentString;

    google.maps.event.addListener(marker,'click', (function(marker,content,infobox){ 
        return function() {
          infobox.open(map, marker);
        };
    })(marker,content,infobox));

  <% end %>

  var markerClustererOptions = {
    'zoomOnClick': false
  };

  var markerCluster = new MarkerClusterer(map, markers);

  setClusterListener(markerCluster);
  
    //clearMarkers on markerCluster in success is not working, this is just a workaround
    var responseCluster = markerCluster;
</script>