<!DOCTYPE html>
<html>
  <head>

    <style type="text/css">
      html {
        height: 100%;
        width: 100%;
      }
      body {  
        height: 100%;
        width: 100%;
        padding-bottom: 120px; 
      }
      .form-text {
        width: 100%; 
        border: 1px solid #ccc; 
        padding-right: 12px;
        height: 40px;
        background-color: #CFCFCF;
      }
      .form-text-area {
        width: 100%; 
        border: 1px solid #ccc; 
        padding-right: 12px;
        background-color: #CFCFCF;
      }
      #form-text-wrapper {
        margin-bottom: 1%;
        margin-top: 10px;
        font-family: sans-serif;
        font-size: 22px;
      }
      .input-checkbox {
        border: 1px solid #ccc; 
        background-color: #CFCFCF;
      }
      .btn {
        font-family: sans-serif;
      }
      img {
        max-width: none;
      }
    </style>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.css">
    <link rel="stylesheet" href="/assets/bootstrap-datepicker/css/datepicker.css">
    <link rel="stylesheet" href="/assets/seiyria-bootstrap-slider/css/bootstrap-slider.css"></script>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- Latest compiled and minified JavaScript -->
  </head>
  <body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
              <li><a href="#">About</a></li>
              <% if user_signed_in? %>
              <li><a href="<%= dashboard_index_path %>">Dashboard</a></li>
              <% else %>
              <li><a id="sign_in_btn" href="#">Sign in</a></li>
              <% end %>
            </ul>
        </div>
      </div>
    </nav>

    <div class="col-md-9 col-sm-8 col-xs-7" style="height: 100%;">
      <div id="map-canvas" style="height:100%;"></div>
    </div>
    <div id="housing_listing_results_wrapper" class="col-md-3 col-sm-4 col-xs-5" style="height: 100%; overflow: scroll; padding-left: 0px;">
      <% @housing_listings.each do |housing_listing| %>
      <div style="">
        <section class='panel'>
          <section class='panel-body'>
            <div style="background-color: black;">
                <a href="<%= housing_listing_url(housing_listing) %>" target="_blank">  <% if housing_listing.housing_images.first %>
                  <img class="img-responsive center-block" src="<%= housing_listing.housing_images.first.url %>" style="max-height: 230px;">
                    </img>
                  <% end %>
                </a>
            </div>
            <div id="text" style="font-family: sans-serif; text-align:center; margin: 10px;">
              <strong style="font-size: 22px;">
              <%= housing_listing.name %>
              </strong>
            </div>
            <div style="margin: 10px;">
              <i class="fa fa-map-marker"></i>
              <%= truncate(housing_listing.location, :length => 32) %>
            </div>
            <div id="text" class="col-md-6 col-xs-12" style="font-family: sans-serif; text-align:left;">
              <i class="fa fa-bed"></i>
              <%= housing_listing.housing_setting.rooms_available %> bedrooms
            </div>
            <div id="text" class="col-md-6 col-xs-12" style="font-family: sans-serif; text-align:right;">
              <i class="fa fa-dollar"></i>
              <%= housing_listing.price %>
            </div>
          </section>
        </section>
      </div>
      <% end %>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div style="text-align: center; margin:10px;">
        <strong>
          Filters
        </strong>
      </div>
      <div class="container-fluid" style="margin: 10px; text-align: center;">
        <span style="margin: 10px;">
          <span style="margin: 10px;">
          <i class="fa fa-dollar"></i>
            Price        
          </span>
          <b>$0</b> <input id="price_slider" type="text" class="span2" value="" data-slider-min="0" data-slider-max="1500" data-slider-step="25" data-slider-value="[0,1500]"/> <b>$1500+</b>
        </span>
        <span style="margin: 10px;">
          <span style="margin: 10px;">
          <i class="fa fa-bed"></i>
            Bedrooms        
          </span>
          <b>1</b> <input id="bedroom_slider" type="text" class="span2" value="" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="[1,5]"/> <b>5+</b>
        </span>
        <span>
          <button id="filter_submit_btn" class="btn btn-success">
            <i class="fa fa-rocket"></i>
            Go!
          </button>
        </span>
      </div>
    </nav>
  </body>
</html>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="/assets/bootstrap-switch-master/dist/js/bootstrap-switch.js"></script>
<script src="/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/assets/seiyria-bootstrap-slider/js/bootstrap-slider.js"></script>
<script src="/assets/jquery.ui.widget"></script>
<script src="/assets/jquery.iframe-transport"></script>
<script src="/assets/jquery.fileupload"></script>
<script src="/assets/jquery.cloudinary"></script>
<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>

<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclustererplus/src/markerclusterer.js"></script>


<script>

function getContentString(details_url, image_url, name, rooms, price) {
  return contentString = '<div id="" style="width: 175px;">' + 
      '<a href="' + details_url + '">' +
      '<img src="' + image_url + '" style="width: 175px; height: 150px; max-width: none;" ' +
      '</img>' +
      '</a>' +
      '<div id="text" style="font-family: sans-serif; text-align:center; margin: 10px; color: #FFFFFF;">' +
                  '<strong>' +
                  name +
                  '</strong>' +
                '</div>' + 
                  '<span id="text" style="font-family: sans-serif; text-align:left; margin-left: 5px; color: #FFFFFF;">' +
                    '<i class="fa fa-bed" style="margin-right: 5px;"></i>' +
                    + rooms + ' bedrooms' +
                  '</span>' +
                  '<span id="text" class="pull-right" style="font-family: sans-serif; text-align:right; margin-right: 5px; color: #FFFFFF;">' +
                    '<i class="fa fa-dollar" style="margin-right: 5px;"></i>' +
                    price +
                  '</span>' +
      '</div>';
}

function removeMarkers() {
  for(var i = 0; i < markers.length; i++) {
    markers[i].setMap(null);
  }
  markers = [];
}

function setClusterListener(markerCluster) {
  google.maps.event.addListener(markerCluster, "clusterclick", function (cluster) {
 
    var clusterClicked = true;
    var clusterMarkers = cluster.getMarkers();
    var testString = "";
    var lat = clusterMarkers[0].getPosition().lat();
    var lng = clusterMarkers[0].getPosition().lng();
    var isCloseEnough = true;

    for(var i = 0; i < clusterMarkers.length; i++) {
      var clusterLatLng = clusterMarkers[i].getPosition();
      if(clusterLatLng.lat() >= (lat - 0.0001) && clusterLatLng.lat() <= (lat + 0.0001) &&
         clusterLatLng.lng() >= (lng - 0.0001) && clusterLatLng.lng() <= (lng + 0.0001) ) {
        isCloseEnough = true;
      } else {
        isCloseEnough = false;
        break;
      }
    }

    if(isCloseEnough) {

      this.setZoomOnClick(false);

      for (var i = 0; i < clusterMarkers.length; i++) {
        google.maps.event.trigger(clusterMarkers[i], 'click');
      }

    } else {
      this.setZoomOnClick(true);
    }
  });
}

function getInfoBoxOptions(contentString) {
  return myOptions = {
     content: contentString
    ,disableAutoPan: false
    ,maxWidth: 0
    ,pixelOffset: new google.maps.Size(-140, 0)
    ,zIndex: null
    ,boxStyle: { 
      background: "#000000"
      ,width: "175px"
     }
    ,closeBoxMargin: "2px 2px 2px 2px"
    ,closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif"
    ,infoBoxClearance: new google.maps.Size(1, 1)
    ,isHidden: false
    ,pane: "floatPane"
    ,enableEventPropagation: false
  };
}
  
  var mapOptions = {
      center: new google.maps.LatLng(43.4304343, -80.4763151),
      minZoom: 5,
      zoom: 10,
      maxZoom: 17,
      scrollwheel: false,
      streetViewControl: false,
      panControl: false,
      mapTypeControl: false
  };

  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  var markers = [];
  var latlngArray = [];
  var infoWindows = [];

  <% @housing_listings.each do |housing_listing| %>

    var myLatlng = new google.maps.LatLng(<%= housing_listing.latitude %>, <%= housing_listing.longitude%>);
    var url = "";
    <% if housing_listing.housing_images.first %>
      url = "<%= housing_listing.housing_images.first.url %>";
    <% end %>
    var contentString = getContentString("<%= housing_listing_url(housing_listing) %>" , url, "<%= housing_listing.name %>", "<%= housing_listing.housing_setting.rooms_available %>", "<%= housing_listing.price %>");

    // set the marker position and display it
    var marker = new google.maps.Marker({
        animation: google.maps.Animation.DROP,
        map: map,
        position: myLatlng
    });

    markers.push(marker);
    var infoBoxOptions = getInfoBoxOptions(contentString);

    var infobox = new InfoBox(infoBoxOptions);
    var content = contentString;

    google.maps.event.addListener(marker,'click', (function(marker,content,infobox){ 
        return function() {
          infobox.open(map, marker);
        };
    })(marker,content,infobox));

  <% end %>

  var markerClustererOptions = {
    'zoomOnClick': false
  };

  var markerCluster = new MarkerClusterer(map, markers);

  setClusterListener(markerCluster);
  
    //clearMarkers on markerCluster in success is not working, this is just a workaround
    var responseCluster = markerCluster;

  // Instantiate the sliders
  var price_slider = $('#price_slider').slider();
  var bedroom_slider = $('#bedroom_slider').slider();

  $("#filter_submit_btn").on("click", function(e) {
    e.preventDefault();

    var filter_price = price_slider.slider('getValue');
    var filter_num_rooms = bedroom_slider.slider('getValue');

    var api_filter_housing_listing = "<%= housing_with_filters_api_v1_housing_listings_url %>";

    $.ajax({
      method: 'post',
      url: api_filter_housing_listing,
      data: {
        'min_price': filter_price[0],
        'max_price': filter_price[1],
        'min_num_bedrooms': filter_num_rooms[0],
        'max_num_bedrooms': filter_num_rooms[1],
        'city': "<%= @city %>",
        'province': "<%= @province %>",
        'country': "<%= @country %>"
      },
      success: function(response){
        responseCluster.clearMarkers();
        console.log(response);

        $("#housing_listing_results_wrapper").html("");
        removeMarkers();

        if(response.length == 0) {
          $("#housing_listing_results_wrapper").html("No housing listings available. Please use a broader range of filters to get more listings.");
        }

        for(var i = 0; i < response.length; i++) {
          var housing_listing = response[i];
          var section = "<section class='panel'><section class='panel-body'>";

          var image_div = "<a href='" + "'> <img src='" + housing_listing['url'] + "' style='width: 275px; height: 230px;'> </img></a>";

          var name_div = "<div id='text' style='font-family: sans-serif; text-align:center; margin: 10px;'> <strong style='font-size: 22px;'>" + housing_listing['name'] + "</strong></div>";

          if(housing_listing['location'].length > 32) {
            housing_listing_location = housing_listing['location'].substring(0, 31) + '...';
          } else {
            housing_listing_location = housing_listing['location'];
          }

          var location_div = "<div style='margin: 10px;'> <i class='fa fa-map-marker'></i> " + housing_listing_location + "</div>";

          var bedrooms_div = "<div id='text' class='col-md-6 col-xs-12' style='font-family: sans-serif; text-align:left;'><i class='fa fa-bed'></i> " + housing_listing['rooms_available'] + " bedrooms </div>";

          var price_div = "<div id='text' class='col-md-6 col-xs-12' style='font-family: sans-serif; text-align:right;'> <i class='fa fa-dollar'></i> " + housing_listing['price'] + "</div>"

          var section_end = "</section></section>";

          $("#housing_listing_results_wrapper").append(section + image_div + name_div + location_div + bedrooms_div + price_div + section_end);

          /*------------------------------------------
                      Google Maps Markers            |
          -------------------------------------------*/

          var myLatlng = new google.maps.LatLng(housing_listing['latitude'], housing_listing['longitude']);

          var contentString = getContentString(housing_listing['url'], housing_listing['name'], housing_listing['rooms_available'], housing_listing['price']);

          var infoBoxOptions = getInfoBoxOptions(contentString);

          // set the marker position and display it
          var marker = new google.maps.Marker({
              animation: google.maps.Animation.DROP,
              map: map,
              position: myLatlng
          });

          markers.push(marker);

          var infobox = new InfoBox(infoBoxOptions);
          var content = contentString;

          google.maps.event.addListener(marker,'click', (function(marker,content,infobox){ 
              return function() {
                infobox.open(map, marker);
              };
          })(marker,content,infobox));
        }

        var markerCluster = new MarkerClusterer(map, markers);

        setClusterListener(markerCluster);

        responseCluster = markerCluster;
        
      },
      error: function(response) {
        console.log(response);
      }
    });

  })

</script>