<!DOCTYPE html>
<html>
  <head>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.css">
    <link rel="stylesheet" href="/assets/bootstrap-datepicker/css/datepicker.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/AdminLTE/dist/css/AdminLTE.min.css">
    <link href="/assets/AdminLTE/dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
    <!-- Latest compiled and minified JavaScript -->

    <%= stylesheet_link_tag 'housing_listings_show.css'%>
  </head>
  <body class="skin-blue sidebar-mini">
    <div id="wrapper">

      <%= render 'shared/common_front_nav' %>
      <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div id="map-canvas" style="height:317px;"></div>
        </div>
      </div>
      <div class="container">
        <div class="col-md-7" style="margin-top: 20px;">
          <section class='panel'>
            <section class="panel-heading">
              <div id="form-text-wrapper" style="text-align: center;">
                <h3>
                  <i class="fa fa-building-o"></i>
                  <%= @housing_listing.name %>
                </h3>
              </div>
              <div id="form-text-wrapper" style="text-align: center; font-size: 15px;">
                <%= @housing_listing.location %>
              </div>
            </section>
            <section class='panel-body'>
              <div class="col-md-12" id="" style="padding-left: 0px; padding-right: 0px; font-size: 22px;">
                <i class="fa fa-pencil"></i>
                Description
              </div>
              <div style="font-size: 18px;">
                <%= @housing_listing.description %>
              </div>
            </section>
          </section>

          <section class='panel'>
            <section class="panel-heading">
              <div id="form-text-wrapper" style="text-align: center;">
                <h3>
                  Amenities
                </h3>
              </div>
            </section>
            <section class="panel-body">
              <% if @housing_listing.housing_setting.furnished %>
              <div id="" class="col-md-6" style="font-size: 17px;">
                <i class="fa fa-check"></i>
                Furnished
              </div>
              <% end %>
              <% if @housing_listing.housing_setting.internet %>
                <div id="" class="col-md-6" style="font-size: 17px;">
                  <i class="fa fa-check"></i>
                  Internet
                </div>
              <% end %>
              <% if @housing_listing.housing_setting.parking %>
              <div id="" class="col-md-6" style="font-size: 17px;">
                <i class="fa fa-check"></i>
                Parking
              </div>
              <% end %>
              <% if @housing_listing.housing_setting.ensuite_washroom %>
              <div id="" class="col-md-6" style="font-size: 17px;">
                <i class="fa fa-check"></i>
                Ensuite Washroom
              </div>
              <% end %>
              <% if @housing_listing.housing_setting.washer_dryer %>
              <div id="" class="col-md-6" style="font-size: 17px;">
                <i class="fa fa-check"></i>
                Washer/Dryer
              </div>
              <% end %>
              <% if @housing_listing.housing_setting.gym %>
              <div id="" class="col-md-6" style="font-size: 17px;">
                <i class="fa fa-check"></i>
                Gym
              </div>
              <% end %>
              <% if @housing_listing.housing_setting.pet_friendly %>
              <div id="" class="col-md-6" style="font-size: 17px;">
                <i class="fa fa-check"></i>
                Pet Friendly
              </div>
              <% end %>
            </section>
          </section>

          <section class='panel'>
            <section class="panel-heading">
              <div id="form-text-wrapper" style="text-align: center;">
                <h3>
                  Reviews
                </h3>
              </div>
            </section>
            <section class="panel-body">
              <div id="comments_body">
                <% if @housing_listing.housing_reviews.length > 0 %>

                  <% @housing_listing.housing_reviews.each do |housing_review| %>
                    <% if !housing_review.comment.empty? %>
                    <div class="col-xs-9">
                      <span class="commenter_name" style="font-size: 20px;">
                        <%= housing_review.user.first_name %>
                      </span> says
                    </div>
                    <div class="col-xs-3">
                      <% housing_review.rating.to_i.times do%>
                        <i class="fa fa-star" style="font-size: 15px; padding: 0px; margin: 0px;"></i>
                      <% end %>
                    </div>
                    <div class="col-xs-12 comment" style="font-size: 18px;">
                      <%= housing_review.comment %>
                    </div>
                    <% end %>
                  <% end %>
                <% else %>
                  <div id="no_review_warning" class="col-xs-12">
                    <div class="alert alert-warning">
                      No reviews for this listing yet
                    </div>
                  </div>
                <% end %>
              </div>

              <% if user_signed_in? %>
                <div class="col-xs-12">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <input id="rating_input" type="number" data-max="5" data-min="1" data-empty-value="0" class="rating form-control input-group-addon" />
                    </span>
                    <span>
                      <input id="comment_input" type="text" class="form-control" placeholder="Add a new comment...">
                     </span>
                    <span class="input-group-btn">
                      <button id="comment_submit_btn" class="btn btn-default" type="button">Comment</button>
                    </span>
                  </div><!-- /input-group -->
                </div>
              <% end %>
            </section>
          </section>
        </div>
        <div class="col-md-5">
          <div style="width: 100%;">
            <h3>
              <button id="send_message_btn" class="btn btn-lg btn-info"  style="width: 100%;">
                <i class="fa fa-envelope" style="color: #FFF"></i>
                Message
              </button>
            </h3>
          </div>
          <div style="width: 100%;">
            <% if @show_favorite == true %>
              <h3>
                <button id="favorite_btn" class="btn btn-lg btn-info"  style="width: 100%;">
                  <i class="fa fa-heart" style="color: red"></i>
                  Favorite
                </button>
              </h3>
              <div id="already_in_favorites" class="callout callout-warning" style="display:none; text-align: center;">
                  In your favorites
              </div>
            <% else %>
              <div id="already_in_favorites" class="callout callout-warning" style="text-align:center; ">
                  In your favorites
              </div>
            <% end %>
          </div>
          <section class='panel'>
            <section class="panel-heading">
              <div id="form-text-wrapper" style="text-align: center;">
                <h3>
                  Details
                </h3>
              </div>
            </section>
            <section class='panel-body'>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <!-- <div id="" class="col-md-6 col-sm-6 col-xs-6" style="padding-left: 0px;">
                  <h4>
                  <i class="fa fa-bed"></i>
                   <%= @housing_listing.housing_setting.rooms_available %> Bedrooms
                  </h4>
                  <h4>
                  <i class="fa fa-tint"></i>
                    <%= @housing_listing.housing_setting.num_washrooms %> Bathrooms
                  </h4>
                </div>
                <div id="" class="col-md-6 col-sm-6 col-xs-6" style="padding-right: 0px; padding-top:15px; height: 100%">
                  <span id="" style="font-size: 25px;">
                    $<%= @housing_listing.price %>
                  </span>
                  <span style="font-size: 15px;">
                    per month
                  </span>
                </div> -->
                <div class="col-xs-12">
                  <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa fa-bed"></i></span>
                    <div class="info-box-content">
                      <span class="info-box-text">Bedrooms</span>
                      <span class="info-box-number"><%= @housing_listing.housing_setting.rooms_available %></span>
                    </div><!-- /.info-box-content -->
                  </div><!-- /.info-box -->
                </div>
                <div class="col-xs-12">
                  <div class="info-box">
                    <span class="info-box-icon bg-navy"><i class="fa fa-tint"></i></span>
                    <div class="info-box-content">
                      <span class="info-box-text">Bathrooms</span>
                      <span class="info-box-number"><%= @housing_listing.housing_setting.num_washrooms %></span>
                    </div><!-- /.info-box-content -->
                  </div><!-- /.info-box -->
                </div>
                <div class="col-xs-12">
                  <div class="info-box">
                    <span class="info-box-icon bg-teal"><i class="fa fa-dollar"></i></span>
                    <div class="info-box-content">
                      <span class="info-box-text">Price</span>
                      <span class="info-box-number"><%= @housing_listing.price %></span>
                    </div><!-- /.info-box-content -->
                  </div><!-- /.info-box -->
                </div>
                <div class="col-xs-12">
                  <div class="info-box">
                    <span class="info-box-icon bg-blue"><i class="fa fa-calendar"></i></span>
                    <div class="info-box-content">
                      <span class="info-box-text">Available</span>
                      <span class="info-box-number">
                        <%= @housing_listing.housing_setting.start_date.strftime("%B %e, %Y") %>
                         to 
                        <%= @housing_listing.housing_setting.end_date.strftime("%B %e, %Y") %>
                      </span>
                    </div><!-- /.info-box-content -->
                  </div><!-- /.info-box -->
                </div>
              </div>
              <!-- <div class="col-md-12 col-sm-12 col-xs-12">
                <div style="margin-top: 18px;">
                  <i class="fa fa-clock-o"></i>
                  Available
                </div>
                <div id="" style="font-size: 20px;">
                  <h4>
                    <%= @housing_listing.housing_setting.start_date.strftime("%B %e, %Y") %>
                     to 
                    <%= @housing_listing.housing_setting.end_date.strftime("%B %e, %Y") %>
                  </h4>
                </div>
              </div> -->
            </section>
          </section>


            <section class='panel'>
              <section class='panel-body'>
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="height: 317px;">
                  <!-- Indicators -->
                  <ol id="carousel_indicators" class="carousel-indicators">
                  <% i = 0%>
                  <% @housing_listing.housing_images.each do |housing_image| %>
                      <% if housing_image == @housing_listing.housing_images.first%>
                    <li data-slide-to="<%=i%>" class="active"></li>
                      <% else %>
                    <li data-slide-to="<%=i%>"></li>
                      <% end %>
                      <%i = i + 1%>
                  <% end %>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div id="carousel_inner" class="carousel-inner" role="listbox">
                    <% if @housing_listing.housing_images.length > 0%>
                      <% @housing_listing.housing_images.each do |housing_image| %>
                        <% if housing_image == @housing_listing.housing_images.first%>
                        <div class="item active">
                        <% else %>
                        <div class="item">
                        <% end %>
                          <img src="<%= housing_image.url %>" alt="..." style="width: 100%; height: 317px;"></img>
                          <div class="carousel-caption">
                            <h3><%= housing_image.title %></h3>
                            <p><%= housing_image.description %></p>
                          </div>
                        </div>
                      <% end %>
                    <% else %>
                    <div id="no_photos_available" class="item active">
                      <img alt="..." style="width: 100%; height: 317px;" src="/images/no_photos_available.jpg"></img>
                    </div>
                    <% end %>
                  </div>

                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </section>
            </section>

          <section class='panel'>
            <section class="panel-heading">
              <div id="form-text-wrapper" style="text-align: center;">
                <h3>
                  Rating
                </h3>
              </div>
            </section>
            <section class="panel-body" style="text-align: center;">
              <% if @housing_listing.overall_rating %>
                <% @housing_listing.overall_rating.to_i.times do %>
                  <i class="fa fa-star"></i>
                <% end %>
              <% else %>
                No ratings for this listing yet.
              <% end %>
            </section>
          </section>
        </div>
      </div>
      <div class="container">
        <div class="col-md-12" style="margin-bottom: 40px;">
          <div id="pano" style="width: 100%; height: 400px;"></div>
        </div>
      </div>
    </div>
  </body>

  <div class="modal" id="housing_inquiry_email_modal" tabindex="-1" role="dialog" aria-labelledby="housing_inquiry_email_modal" aria-hidden="true">
      <div class="modal-dialog modal-sm">
          <div class="modal-content">
              <div class="modal-header">
                <h4>Send Message</h4>
              </div>
              <div class="modal-body">
                <div>
                  Your email
                  <% if user_signed_in?%>
                    <input id="email_input" class="form-text" type="text" value="<%= current_user.email %>">
                  <% else %>
                    <input id="email_input" class="form-text" type="text" value="">
                  <% end %>
                </div>
                <div>
                  Message
                  <textarea id="message_input" class="form-text-area" rows="5" id="photo_details"></textarea>
                </div>
                <div id="send_email_btn" class="btn btn-success" style="width: 100%;">
                  Send
                </div>
              </div>
              
          </div>
      </div>
  </div><!-- end of photos_modal -->
</html>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="/assets/bootstrap-switch-master/dist/js/bootstrap-switch.js"></script>
<script src="/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/assets/bootstrap-rating-input/src/bootstrap-rating-input.js"></script>
<script src="/assets/jquery.ui.widget"></script>
<script src="/assets/jquery.iframe-transport"></script>
<script src="/assets/jquery.fileupload"></script>
<script src="/assets/jquery.cloudinary"></script>
<script src="/assets/AdminLTE/dist/js/app.min.js"></script>

<script type="text/javascript">
  var current_housing_listing_id = <%= @housing_listing.id %>;
  var housing_listing_lat = <%= @housing_listing.latitude %>;
  var housing_listing_long = <%= @housing_listing.longitude%>;
  var housing_listing_comment_api = "<%= comment_api_v1_housing_listings_url %>";
  var housing_listing_id = "<%= @housing_listing.id %>";
  var current_user_first_name = "<%= current_user.first_name %>";
  var housing_listing_id = "<%= @housing_listing.id %>";
  var housing_listing_send_inquiry_email_api = "<%= send_inquiry_email_api_v1_housing_listings_url %>";
  var housing_favorite_api = "<%= api_v1_housing_favorites_path %>";
</script>
<%= javascript_include_tag "/javascripts/housing_listings_show" %>