<html>
  	<head>
   		<%= render 'shared/common_dash_head' %>
  	</head>
	<body class="skin-blue sidebar-mini">
	    <%= render 'shared/common_dash_nav' %>
	    <div class="content-wrapper">
	    	<section class="content">
	    		<section class="panel">
	    			<section class="panel-heading">
					    <h3>
					    	<i class="fa fa-user"></i>
					    	Profile
					    </h3>
	    			</section>
	    			<section class="panel-body">
						<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  							<%= devise_error_messages! %>
  							<%- flash.each do |name, msg| -%>
							  <%= content_tag :div, msg, :class => "alert alert-warning", :id => "flash_#{name}" if msg.is_a?(String) %>
							<%- end -%>
						  <div class="field">
						    <%= f.label :email %><br />
						    <%= f.email_field :email, autofocus: true %>
						  </div>

						  <div class="field">
						    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
						    <%= f.password_field :current_password, autocomplete: "off" %>
						  </div>

						  <div class="field">
						    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
						    <%= f.password_field :password, autocomplete: "off" %>
						  </div>

						  <div class="field">
						    <%= f.label :password_confirmation %><br />
						    <%= f.password_field :password_confirmation, autocomplete: "off" %>
						  </div>

						  <div class="actions" style="margin-top: 10px;">
						    <button class="btn btn-sm btn-info" type="submit">
						    	Update
						    </button>
						  </div>
						<% end %>
					</section>
				</section>
			</section>
		</div>
	</body>
</html>